* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
body {
    background-color: #f3f1f1;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 800px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 1px 2px 15px #b9b8b8;
    margin: 50px auto;
    min-height: 250px;
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

form * {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
}

button {
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 10px;
}

h2 {
    margin-top: 20px;
}
p {
    padding: 20px 30px;
    font-size: 2rem;
    font-weight: bold;
}

.btn {
    background-color: #b9b8b8;
}
.btn.active {
    background-color: #b14949;
}